<!--<div class="row collapse">-->
<div class="small-9 small-offset-3 columns"><h1>New product</h1></div>
<!--</div> -->

<%= render 'form' %>

<div class="row collapse">
  <div class="small-9 small-offset-3 columns"><%= link_to 'Back', products_path, class: "button small radius" %></div>
</div> 
